* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    display: block;
    width: 100%;
    max-width: 100%;
}

.grid {
    display: grid;
    padding: 16px;
    grid-gap: 16px;

    @media (min-width: 786px){        
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 960px){        
        grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 1200px){        
        grid-template-columns: repeat(4, 1fr);
    }


    .col {
        background-color: aquamarine;
        padding: 16px;
        // align-self: start;

        &.img-block{
            align-self: start;
            padding: 0;
            background-color: none;
        }
    }
}